
.App {
  text-align: center;
}
.App{
  font-family: "Times New Roman", Times, serif;
  min-width: max-content;
  font-size: large;
}
.Navbar{
  background-color: black;
  height:50px;
  width:100%;
  position:fixed;
  top: 0%;
  display: flex;
}
.details{
  background-color: black;
  border-radius: 5%;
  margin:10px;
  color: white;
  height: auto;
  text-align: center;
  align-content: center;
}
.inner{
  display:block;
  padding: 20px;
}
.img{
  margin: 5px 20px auto 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border:2px solid black;
  display: block;
  max-width: min-content;
  cursor: pointer;
}
.img1{
  border-radius: 10%;
}
.cont{
  margin-top:80px;
}
.search{
  background-color: white;
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
  max-height: 20px;
  border-radius: 25px;
}
.maincont{
  display: block;
  margin:40px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  border:2px solid black;
  box-shadow: 2px 2px 5px 5px gray;
  position: relative;
  z-index: -1;
}
h2{
  text-align: left;
  position:absolute;
  right:8rem;
  left:1rem;
}
.company{
  text-align: left;
  max-width: fit-content;
  position: absolute;
  margin-top: 30px;
  margin-left: 5px;
}
.id{
  text-align: right;
  margin-top: 30px;
  margin-left: 5px;
}
.location{
  text-align: left;
  position: absolute;
  max-width: fit-content;
  margin-top: 35px;
  margin-left: 5px;
}
.experience{
  text-align: left;
  margin-top: 8px;
  margin-left: 5px;
}
.skills{
  text-align: left;
  margin-top: 7px;
  margin-left: 5px;
}
.apply{
  font-size: medium;
  border-radius: 25px;
  max-width: fit-content;
  padding: 5px;
  background-color: black;
  color: white;
  margin-left: auto;
  margin-top: 5px;
}
.maincont:hover{
  box-shadow: 5px 5px 8px 8px gray;
}
.theme{
  color: white;
  text-decoration: none;
  margin-top: 15px;
  margin-left: auto;
  margin-right: 10px;
  text-align: right;
  min-width: fit-content;
  cursor: pointer;
}
.theme1{
  background: black;
  margin-top:20px;
  color: white;
  height: 250px;
  text-align: center;
  align-content: center;
  width:max-content;
  border-radius: 5%;
  position:fixed;
}
.color:hover,.color:active{
  background-color:darkgreen;
  border-radius:5%;
}
.themeinner{
  padding: 20px;
}
.logo{
  margin-right:10px;
  margin-left:auto;
  display:flex;
}
.color{
  padding: 2px;
}
.blue{
  background-color:darkblue;
}